{% extends 'base.html.twig' %}

{% block title %}{{ site_name }}: {% trans %}contact us!{% endtrans %}{% endblock %}

{% block body %}

<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>{% trans %}Contact{% endtrans %}</h2>

                <ol>
                    <li><a href="{{ path('home') }}">{% trans %}Home{% endtrans %}</a></li>
                    <li>{% trans %}Contact{% endtrans %}</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row d-flex justify-content-center mb-5">
                <div class="col">
                    {% for msg in app.session.flashBag.get('successContact') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}

                    <div class="mb-3 p-3 bg-primary rounded text-white text-center fs-3">
                        <i class="bi bi-envelope-fill"></i> {% trans %}Contact-us by mail{% endtrans %}
                    </div>

                    <div class="card px-3 pt-3 pb-2 mb-4">
                        <p>
                            {% trans %}Hello there,{% endtrans %}<br>
                            {% trans %}Please use the form below to contact us.{% endtrans %}<br>
                            {% trans %}We'll answer you as soon as possible.{% endtrans %}<br>
                            <span class="small fst-italic">{{ site_name_full }}</span>
                        </p>
                    </div>

                    {{ form_start(our_form) }}
                        {% trans %}Name{% endtrans %}:<br>
                        {{ form_row(our_form.name, {'label': false}) }}
                        {% trans %}Email{% endtrans %}:<br>
                        {{ form_row(our_form.email, {'label': false}) }}
                        {% trans %}Your message{% endtrans %}:<br>
                        {{ form_row(our_form.message, {'label': false}) }}
                        {% trans %}Please copy antispam code{% endtrans %}: 
                        {{ form_row(our_form.captcha, {'label': false}) }}
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary mr-3 mb-4">{% trans %}Send message{% endtrans %}</button>
                            <button type="reset" class="btn btn-secondary mb-4">{% trans %}Reset{% endtrans %}</button>
                        </div>
                    {{ form_end(our_form) }}

                </div>
                {% block sidebar %}
                    {{ sidebar() }}
                {% endblock %}
            </div>
        </div>
    </section>
</main>

{% endblock %}