{% extends 'base.html.twig' %}

{% block title %}{{ site_name }}:{{ article.title }}{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Blog</h2>

                <ol>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li>article</li>
                    <li>{{ article.title }}</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="{{ article.image }}" alt="{{ article.title }}" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="">{{ article.title }}</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-person"></i>
                                    <a href="">{{ article.author }}</a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-clock"></i>
                                    <a href="">{{ article.createdAt|date("F jS \\a\\t g:ia") }}</a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-chat-dots"></i>
                                    <a href="">{{ article.comment|length }} Comments</a>
                                </li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            {{ article.content|raw }}
                        </div>

                        <div class="entry-footer">
                            <i class="bi bi-folder"></i>
                            <ul class="cats">
                                {% for c in article.category %}
                                <li><a href="{{ path('category_show', {'slug': c.slug}) }}">{{ c.title }}</a></li>
                                {% endfor %}
                            </ul>

                            <i class="bi bi-tags"></i>
                            <ul class="tags">
                                {% for t in article.tag %}
                                <li><a href="{{ path('tag_show', {'slug': t.slug}) }}">{{ t.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </article><!-- End blog entry -->

                    <div class="blog-author d-flex align-items-center">
                        <img src="{{ article.author.image }}" class="rounded-circle float-left" alt="">
                        <div>
                            <h4>{{ article.author.username }}</h4>
                            <div class="social-links">
                                {% if article.author.twitter %}
                                <a href="{{ article.author.twitter }}"><i class="bi bi-twitter"></i></a>
                                {% endif %}
                                {% if article.author.facebook %}
                                <a href="{{ article.author.facebook }}"><i class="bi bi-facebook"></i></a>
                                {% endif %}
                                {% if article.author.instagram %}
                                <a href="{{ article.author.instagram }}"><i class="biu bi-instagram"></i></a>
                                {% endif %}
                            </div>
                            <p>
                                {{ article.author.presentation }}
                            </p>
                        </div>
                    </div><!-- End blog author bio -->

                    <div class="blog-comments">

                        <h4 class="comments-count">{{ article.comment|length }} comments</h4>

                        <!-- Comments -->
                            {% for comment in article.comment %}

                                {% if comment.parent == null %}
                                    <div class="comment">
                                        <p class="lead">Comment #{{ loop.index }}</p>

                                        <div class="d-flex">
                                            <div class="comment-img"><i class="bi bi-person-circle"></i></div>
                                            <div>
                                                <h5>
                                                    {{ comment.nickname }}
                                                    <a href="#reply-comment" data-reply data-id={{ comment.id }} class="reply">
                                                        <i class="bi bi-reply-fill"></i> Reply
                                                    </a>
                                                </h5>
                                                <time datetime="{{ comment.createdAt|date("F jS \\a\\t g:ia") }}">
                                                    {{ comment.createdAt|date("F jS \\a\\t g:ia") }}
                                                </time>
                                                <p>
                                                    {{ comment.content|raw }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="comment-reply" class="comment comment-reply">
                                        <div class="d-flex">
                                            {# show reply #}
                                            {% for reply in comment.replie %}
                                                <div class="comment-img">
                                                    <i class="bi bi-person-circle"></i>
                                                </div>
                                                <h5>{{ reply.nickname }}</h5>
                                                <p>
                                                    <time datetime="{{ reply.createdAt|date("F jS \\a\\t g:ia") }}">
                                                        {{ reply.createdAt|date("F jS \\a\\t g:ia") }}
                                                    </time>
                                                </p>
                                                <p>
                                                    {{ reply.content|raw }}
                                                </p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}

                                {#
                                <!-- Reply to message -->
                                <div class="comment comment-reply">
                                    <div class="d-flex">
                                        <div class="comment-img">
                                            <img src="IMAGE" alt="TITLE">
                                        </div>
                                        <div>
                                            <h5><a href="">AUTHOR</a> <a href="REPLY" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                                            DATE
                                            <p>
                                                CONTENT
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- //reply -->
                                #}
                            {% endfor %}

                        {#
                        <div id="comment-1" class="comment">
                            <div class="d-flex">
                                <div class="comment-img"><img src="{{ asset('img/blog/comments-2.jpg') }}" alt=""></div>
                                <div>
                                    <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                                    <time datetime="2020-01-01">01 Jan, 2020</time>
                                    <p>
                                        Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe.
                                        Officiis illo ut beatae.
                                    </p>
                                </div>
                            </div>

                            <div id="comment-reply-1" class="comment comment-reply">
                                <div class="d-flex">
                                    <div class="comment-img"><img src="{{ asset('img/blog/comments-3.jpg') }}" alt=""></div>
                                    <div>
                                        <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                                        <time datetime="2020-01-01">01 Jan, 2020</time>
                                        <p>
                                            Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam
                                            aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed
                                            necessitatibus aut est. Eum officiis sed repellat maxime vero nisi natus.
                                            Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.

                                            Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in
                                            porro aut. Magnam qui cum. Illo similique occaecati nihil modi eligendi.
                                            Pariatur distinctio labore omnis incidunt et illum. Expedita et dignissimos
                                            distinctio laborum minima fugiat.

                                            Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis
                                            error dolorum non autem quisquam vero rerum neque.
                                        </p>
                                    </div>
                                </div>

                                <div id="comment-reply-2" class="comment comment-reply">
                                    <div class="d-flex">
                                        <div class="comment-img"><img src="{{ asset('img/blog/comments-4.jpg') }}" alt=""></div>
                                        <div>
                                            <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                                            <time datetime="2020-01-01">01 Jan, 2020</time>
                                            <p>
                                                Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia
                                                dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam.
                                                Placeat porro est commodi est officiis voluptas repellat quisquam
                                                possimus. Perferendis id consectetur necessitatibus.
                                            </p>
                                        </div>
                                    </div>

                                </div><!-- End comment reply #2-->

                            </div><!-- End comment reply #1-->

                        </div><!-- End comment #1-->
                        #}

                        <div id="reply-comment" class="reply-form">
                            <h4>Leave a Reply</h4>
                            <p>Your email address will not be published.</p>
                            {{ form(commentForm) }}
                            {#
                            <form action="">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <input name="name" type="text" class="form-control" placeholder="Your Name*">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input name="email" type="text" class="form-control" placeholder="Your Email*">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <input name="website" type="text" class="form-control"
                                            placeholder="Your Website">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <textarea name="comment" class="form-control"
                                            placeholder="Your Comment*"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Post Comment</button>
                            </form>
                            #}

                        </div>

                    </div><!-- End blog comments -->

                </div><!-- End blog entries list -->

                {% block sidebar %}
                {{ sidebar() }}
                {% endblock %}

                <!--
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row d-flex justify-content-center mb-5">
                <div class="col">

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Image</th>
                                <td><img src="{{ article.image }}" alt="{{ article.title }}" class="img-fluid" style="max-width: 250px; width: 100%;;"></td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td>{{ article.title }}</td>
                            </tr>
                            <tr>
                                <th>Catégories</th>
                                <td>
                                    {% for c in article.category %}
                                        <span class="badge bg-primary">{{ c.title }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Tags</th>
                                <td>
                                    {% for t in article.tag %}
                                        <span class="badge bg-secondary">{{ t.title }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Author</th>
                                <td>{{ article.author }}</td>
                            </tr>
                            <tr>
                                <th>Content</th>
                                <td>{{ article.content }}</td>
                            </tr>
                            <tr>
                                <th>Created_at</th>
                                <td>{{ article.createdAt ? article.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Updated_at</th>
                                <td>{{ article.updatedAt ? article.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Is_active</th>
                                <td>{{ article.isActive ? 'Yes' : 'No' }}</td>
                            </tr>
                        </tbody>
                    </table>


                    <a class="btn btn-sm btn-success" href="{{ path('article_edit', {'id': article.id}) }}">edit</a> 
                    <button class="btn btn-sm btn-secondary" type="reset">reset</button>
                    <a class="btn btn-sm btn-primary" href="{{ path('article_index') }}">back to list</a>

                </div>
            </div>
        </div>
    </section>
    -->
</main>
{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        // Listener event on each Reply button
        document.querySelectorAll("[data-reply]").forEach(element => {
            element.addEventListener("click", function (){
                document.querySelector("#comment_parentid").value = this.dataset.id;
            });
        });
    }
</script>
{% endblock %}